html, body {height: 100%}
main {min-height: calc(100% - 487px) }
h1, h2, .h1, .h2, h1 a, h2 a, .h1 a, .h2 a {font-family: "Unica One", serif; font-weight: 400;}
a:where(:link, :visited, :hover, :focus, :active) {color: #11944e; text-decoration: none;}
.bg-body-secondary a:is(:link, :visited, :hover, :focus, :active) {color: #1eec7d; }
#subHeader a:is(:link, :visited, :hover, :focus, :active) {color: #1fb565; font-weight: 500;}
.bg-body-tertiary a:is(:link, :visited, :hover, :focus, :active) { font-weight: 600 }
h4, h4 a {font-size: 1.5rem}
h3 a, h4 a, h5 a, h3 a:hover, h4 a:hover, h5 a:hover {color: #fff; font-weight: bold; text-transform: uppercase;}
hr { border-color: #aaa; margin: 12px 0 0 -20px }
blockquote { margin-left: 30px; border-left: 7px solid #bbb; border-radius: 3px; padding: 0 20px; }
blockquote p {font-family:  'Roboto Condensed' !important; }
main {padding-top: 56px; padding-bottom: 36px;}

.navbar-brand span { padding: 0.5rem; }
.dropdown-menu {
    position: fixed !important;
    top: 65px !important;
    left: 1% !important;
    right: 1% !important;
    width: 98% !important;
    opacity: 95%;
}

.dropdown-item-column {
    width: 30%;
    margin: 0 2%;
}
.dropdown-item-column h5 {
    font-size: 1.2rem;
    margin: 20px 0 30px 0;
    text-transform: uppercase;
    border-bottom: #606060 1px solid;
}
.dropdown-item-column p {
    font-size: 0.8rem;
    margin-bottom: 30px;
}
.dropdown-item-column ul {
    margin-top: 10px;
}
li.label {
    padding: 7px 7px 0 3px;
}
@media screen and (max-width: 767px) {
    .only-web {display: none !important;}
}

#headerImg {
    display: flex;
    height: 300px;
    overflow: hidden;
    /*border-bottom: 8px solid #111;*/
    background-position: left center, right center, center center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, auto, cover;
    background-color: #000;
}
#headerImg h1 {
    display: inline-block;
    align-self: flex-end;
    color: #fff;
    text-shadow: 0 0 5px #000;
    width: 100%
}
@media screen and (min-width: 768px) {
    #headerImg {padding: 0 50px 10px 70px;}
    #headerImg h1 span.main-title {font-size: 72pt;}
    #headerImg h1 span.subtitle {font-size: 36pt;}
}
@media screen and (max-width: 767px) {
    #headerImg {padding: 0 20px 10px 20px;}
    #headerImg h1 span.main-title {font-size: 60pt;}
    #headerImg h1 span.subtitle {font-size: 30pt;}
}

#subHeader {
    padding: 10px 10px 10px 70px;
    border-top: 1px #555 solid;
    margin: -20px 0 20px 0;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
}
#subHeader span.info { padding-inline: 20px;}

footer { clear: both; }
#footBar {padding: 5px; margin: 0;}
#footBar a, #footBar a:hover, #footBar a:focus {font-size: 14px;}
#footBar a:hover, #footBar a:focus {text-decoration: underline;}

article .lead {padding-bottom: 30px;}
article .lead p {
    font-weight: bold;
    font-size-adjust: 0.6;
    line-height: 2;
}

@media screen and (min-width: 768px) {
    article { padding: 0 75px; }
    article.aside-aware { margin-right: 25%; }
    article .content { column-count: 2; column-gap: 75px; }
}
@media screen and (max-width: 767px) {
    article { padding: 0 25px; }
    article.aside-aware { margin-right: 0; }
    article .content { column-count: 1; }
}
article .content p { break-inside: avoid-column; }

article p,
article strong,
article li {font-family: 'Fira Sans', sans-serif; font-size: 1.05rem; line-height: 1.75; text-align: justify;}
article h2 {margin-top: 40px; padding: 10px 0; border-top: 1px #111 solid; width: 100%; }
article h2:first-child {margin-top: 0;}
article h3 {
    padding: 10px 0 0 20px;
    font-size: 1.5rem;
}
.btn-outline-success:hover small { color: rgba(222, 226, 230, 0.75) !important;}
footer div.container { margin-left: 0 }

#card-container {transition: opacity 0.3s ease;opacity: 1; margin-top: 20px;}
#card-container .col {display: flex;}
#card-container .card {flex: 1;display: flex;flex-direction: column;}
.card-img-wrapper {position: relative;flex: 1;background-color: black;overflow: hidden;border-radius: 10px;border: 2.5px solid #303030}
.card-img-wrapper img {width: 100%; min-height: 240px; display: block; object-fit: cover; object-position: center;}
.card-img-wrapper .card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}
.card-title { font-size: 1.1rem; padding: 0 0 10px 0; }
.card-text p { font-size: 0.85rem; margin-bottom: 0 }

section.cards { margin: 40px 0 40px 75px; }
section .col { margin-top: 36px; padding: 0 18px;}
section.cards .card-title { left: 0; border: 0; padding: 30px 38px; font-size: 2.5rem; text-shadow: 3px 3px 5px #606060; color: #dddddd}
.content .card:hover { border: 0; box-shadow: 0px 0px 20px #606060;}

@media screen and (min-width: 768px) {
    aside {float: right; margin-top: -160px; right: 0; width: 25% !important; margin-right: 1.5% }
}
@media screen and (max-width: 767px) {
    main {margin-top: 0; padding-top: 0;}
    aside {position: inherit; width: auto; margin: 0 20px 30px 20px;}
    article.content  {margin: 0 20px; padding: 0;}
}
aside { border-radius: 12px; padding-bottom: 6px; }
aside .card { border: 0; border-radius: 8px; margin-bottom: 12px;}
aside .card-body { margin: 5px 10px; padding: 0 12px; }
aside .card-title { font-size: 1.45rem; padding: 8px 0 4px 0; margin: 0 28px 0 18px;}
aside .card-title a { color: white; }
aside .card-img-overlay { padding: 12px; }
aside h2 { padding-top: 16px; }
aside p { margin: 0 28px 0 18px; padding-bottom: 8px; }
aside li { padding-top: 12px;}
aside section { margin: 5px 25px; padding-bottom: 12px; }
aside section h2 { border-bottom: 1px #ddd solid; }

#dynamic_form1 {padding: 15px;}